<%= simple_form_for(article, url: path) do |f| %>
  <%= render 'shared/errors', obj: article %>

  <%= f.input :title %>
  <%= f.input :summary %>
  <%= f.input :published_at %>
  <%= f.input :image %>
  <%= f.input :archived %>
  <%= f.text_area :content, class: 'editor' %>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
