<%= simple_form_for(article, url: path) do |f| %>
  <%= render 'shared/errors', obj: article %>

  <%= f.input :title %>
  <%= f.input :summary %>
  <div class="form-group">
    <%= f.label :published_at %>
    <%= f.datetime_local_field :published_at, class: 'form-control' %>
  </div>
  <%= f.input :image %>
  <%= f.input :archived %>
  <%= f.text_area :content, class: 'editor' %>

  <div class="actions">
    <%= link_to 'Back', admin_articles_path, class: "btn btn-secondary" %>
    <%= f.submit 'Save', class: 'btn btn-primary float-right' %>
  </div>
<% end %>
