<%= simple_form_for(pen, url: path) do |f| %>
  <%= render 'shared/errors', obj: pen %>

  <%= f.input :name %>
  <%= f.input :summary %>
  <%= f.input :codepen_url %>
  <%= f.input :image %>
  <%= f.input :archived %>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
