<%= simple_form_for(project, url: path) do |f| %>
  <%= render 'shared/errors', obj: project %>

  <%= f.input :name %>
  <%= f.input :summary %>
  <%= f.input :github_url %>
  <%= f.input :website_url %>
  <%= f.input :image %>
  <%= f.input :archived %>
  <%= f.text_area :content, class: 'editor' %>

  <div class="actions">
    <%= link_to 'Back', admin_projects_path, class: "btn btn-secondary" %>
    <%= f.submit 'Save', class: 'btn btn-primary float-right' %>
  </div>
<% end %>
